[submodule "code/containers"]
	path = code/containers
	url = https://github.com/ReproNim/containers.git
	datalad-id = b02e63c2-62c1-11e9-82b0-52540040489c
	datalad-url = https://github.com/ReproNim/containers.git
[submodule "code/tacc-openneuro"]
	path = code/tacc-openneuro
	url = https://github.com/poldracklab/tacc-openneuro.git
	datalad-url = https://github.com/poldracklab/tacc-openneuro.git
[submodule "sourcedata/raw"]
	path = sourcedata/raw
	url = https://github.com/OpenNeuroDatasets/ds003592.git
	datalad-id = abf77184-6b1d-4e4e-98f5-3b44847ee8a6
	datalad-url = https://github.com/OpenNeuroDatasets/ds003592.git
